body{
    background-color: #FFFFFF;
    margin: 0px;
}

.upper-area{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60%;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area>img{
    height: 80%;
}

.text-area{
    display: block;
    font-family: "Arial";
    text-align: center;
    color: #FF7F2A;
	font-size: xx-large;
}

div{
    height: 100%;
}