body{
    background-color: #F7E904;
    margin: 0px;
}

.upper-area{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60%;
}

.bottom-area{
    display: grid;
    grid-template-columns: 70% 30%;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area>img{
    height: 80%;
}

.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Lucida Console";
    text-align: right;
    color: #191919;
}

.rabbit-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rabbit-area>img{
    max-width: 60%;
    height: auto;
}

div{
    height: 100%;
}